body {
  font-family: "Segoe UI";
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px 20px;
}

h1 {
  text-align: center;
  color: rgb(13, 21, 111);
}

.todoContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todoContainer input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.todoContainer button {
  padding: 12px 16px;
  background: #0397f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 12px 16px;
  border-left: 4px solid #410136;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

li.completed {
  text-decoration: line-through;
  color: #3b3b3b;
  background: #e0e0e0;
}

.actions button {
  margin-left: 8px;
  padding: 6px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .todoContainer {
    flex-direction: column;
  }
}
